.ghostie {
  background-image: url('assets/ghost-frand.png');
  background-size: 150px 150px;
  // opacity: 0;
  width: 150px;
  height: 150px;
  display: inline-block;
  // margin: 0 auto;
  margin-top: 200px;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  animation: move 20s linear;
  cursor: pointer;
  @keyframes move {
    100% {transform: translateY(-2000px);}
  }
  img {
    margin-top: 10px;
    width: 75px;
    border-radius: 50%;
  }
  p {
    font-size: .4em;
    margin-top: 0;
  }
}
