#feed {
  width: 80%;
  background-color: rgb(20,20,20);
  display: block;
  padding: 5px;
  position: relative;
  padding-top: 250px;
  margin: 0px auto;
  // margin-left: 40%;
  overflow: hidden;
  height: 100px;
  border: 2px solid azure;
  border-radius: 5px;
}

.ghostie {
  background-image: url('assets/ghost-frand.png');
  background-size: 150px 150px;
  // opacity: 0;
  width: 150px;
  height: 150px;
  display: inline-block;
  // margin: 0 auto;
  margin-top: 200px;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  animation: move 20s linear;
  cursor: pointer;
  &:hover img {
    box-sizing: border-box;
    border: 2px solid azure;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
  }
  @keyframes move {
    100% {transform: translateY(-2000px);}
  }
  img {
    margin-top: 10px;
    width: 75px;
    border-radius: 50%;
    box-sizing: border-box;
  }
  p {
    font-size: .4em;
    margin-top: 0;
  }
}
