// BASE STYLINGS
body {
  background: black;
}
#main-window {
  width: 95%;
  display: block;
  padding: 5px;
  padding-top: 250px;
  margin: 0 auto;
  overflow: hidden;
}
#views {
  width: 80%;
  display: block;
  padding: 5px;
  position: relative;
  padding-top: 250px;
  margin: 0px auto;
  // margin-left: 40%;
  overflow: hidden;
  height: 100px;
  border: 2px solid azure;
}



// import scss partials
@import 'config';
@import 'details';
@import 'feed';
@import 'footer';
@import 'header';
@import 'hobbies';
@import 'side-menu';
