// BASE STYLINGS
body {
  background: black;
}
#main-window {
  width: 95%;
  display: block;
  padding: 5px;
  padding-top: 225px;
  margin: 0 auto;
  overflow: hidden;
}



// import scss partials
@import 'config';
@import 'details';
@import 'feed';
@import 'footer';
@import 'header';
@import 'hobbies';
@import 'side-menu';
